.danger-color {
  color: #e91224;
}

.fieldset-body {
  max-height: 60vh;
  overflow: auto;
  padding: 1rem;
}

.multiselect-grid {
  display: grid;
  width: 100%;
}

.token-style {
  background: #007ad9;
  color: #ffffff;
  padding: 0.25rem 1rem;
  margin-right: 0.25rem;
}

.error-container {
  display: inline-flex;
  width: 100%;
  height: 3rem;
  border: 1px solid #e91224;
  color: #e91224;
  background: rgba(233, 18, 36, 0.1);
}

:host ::ng-deep .ui-fieldset-legend-text {
  font-size: 1.25rem;
}
