<div class="flex">
  <div
    class="flex-grow-1 flex-shrink-1 flex align-items-center justify-content-start"
  >
    <img
      src="assets/images/logos/{{
        isDark ? 'att_biz_hz_alt_rgb_rev.png' : 'att_biz_hz_alt_rgb_pos.png'
      }}"
      alt="AT&T Business"
      height="94px"
      routerLink="/"
      class="cursor-pointer"
    />
  </div>

  <div
    class="flex-grow-1 flex-shrink-1 flex align-items-center justify-content-end"
  >
    <ng-container *ngIf="!isBcUser">
      <div class="user-details-wrapper ml-4">
        <h4 class="font-semibold">{{ userDetails?.firstName }}</h4>
        <p class="font-light">
          {{ userDetails?.jtName.split(',')[0] | titlecase }}
        </p>
      </div>
      <p-avatar
        image="https://avatar.z.att.com/microsoft/photo/{{
          userDetails?.email
        }}"
        size="large"
        shape="circle"
        (click)="userMenu.toggle($event)"
      ></p-avatar>
    </ng-container>
  </div>
</div>

<p-overlayPanel #userMenu styleClass="user-menu-overlay">
  <ng-template pTemplate="">
    <div class="text-center">
      <p-avatar
        image="https://avatar.z.att.com/microsoft/photo/{{
          userDetails?.email
        }}"
        size="xlarge"
        shape="circle"
        (click)="userMenu.toggle($event)"
      ></p-avatar>
      <h3 class="mb-2 font-bold">
        {{ userDetails?.firstName + ' ' + userDetails?.lastName }}
      </h3>
      <p class="mb-4">{{ userDetails?.jtName | titlecase }}</p>
    </div>
    <p-divider></p-divider>
    <div class="inline-flex pl-1">
      <p>Dark Mode?</p>
      <p-inputSwitch
        class="absolute right-0 pr-5"
        [(ngModel)]="isDark"
        (onChange)="handleChange($event)"
      ></p-inputSwitch>
    </div>
    <p-divider></p-divider>
    <div class="text-center">
      <button
        pButton
        pRipple
        type="button"
        label="Sign Out!"
        class="p-button-rounded p-button-danger mt-2"
      ></button>
      <p class="disclaimer-p">
        Clicking "Sign Out!" will attempt a log out from AT&T Global Logon
        System. You may need to re-login to Global Logon or onto Business Center
        to be able to use the application again.
      </p>
    </div>
  </ng-template>
</p-overlayPanel>
