p-avatar {
  cursor: pointer;
}

.user-details-wrapper {
  text-align: right;
  padding-right: 0.5rem;
}

.user-details-wrapper h4,
p {
  margin: 0;
  padding: 0;
}

.disclaimer-p {
  margin-top: 1rem;
  font-size: 8px;
  color: var(--gray-500);
}

.overlay-p-font {
  font-size: 12px;
}
