<p-table #logTable
         [columns]="cols"
         [value]="transactionLogs"
         sortMode="single"
         [resizableColumns]="true"
         dataKey="changeType"
         [reorderableColumns]="true"
         [loading]="loading"
         showLoader="true"
         [responsive]="true"
         [scrollable]="true"
         scrollHeight="600px"
         selectionMode="multiple"
         [(selection)]="selectedLogs"
         [paginator]="true"
         [rows]="rows"
         [totalRecords]="totalRecords"
         [rowsPerPageOptions]="[10,20,50,100]"
         [showCurrentPageReport]="true"
         [first]="first"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [filterDelay]="500"
         [resetPageOnSort]="true"
         [lazy]="true"
         (onLazyLoad)="loadTransactionLogs($event)">
  <ng-template pTemplate="caption">
    <div class="text-right">
      <button type="button" pButton icon="pi pi-file-o" (click)="logTable.exportCSV()" label="Export CSV" pTooltip="Export CSV" tooltipPosition="bottom"></button>
      <button type="button" pButton icon="pi pi-refresh" (click)="logTable.reset()" class="ui-button-success ml-1" pTooltip="Reset Table to Default Configuration" tooltipPosition="bottom"></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="row-width" pReorderableColumn>
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
        <input pInputText type="text"
               placeholder="{{col.header}}"
               (input)="logTable.filter($event.target.value, col.field, col.filterMatchMode)"
               [value]="logTable.filters[col.field]?.value">
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns" class="row-width">
        <span *ngIf="col.dataType === 'String'">{{rowData[col.field] || 'N/A'}}</span>
        <span *ngIf="col.dataType === 'Date'">{{rowData[col.field] | date: 'medium'}}</span>
      </td>
    </tr>
  </ng-template>
</p-table>
