<p-card styleClass="p-3 p-card-shadow step-router-outlet-card">
  <div class="step-header mt-0 mb-3 underline">{{ title }}</div>

  <p-confirmDialog
    header="Confirmation"
    styleClass="p-confirm-custom"
    icon="pi pi-exclamation-triangle"
    rejectButtonStyleClass="p-button-rounded p-button-outlined mb-2"
    acceptButtonStyleClass="p-button-rounded mr-0 mb-2"
  ></p-confirmDialog>

  <!--  DIALOG FOR AUTO ROLLBACK TIMER WARNING STARTS HERE  -->
  <p-dialog
    header="Auto Rollback Warning!!!"
    styleClass="p-confirm-custom"
    [modal]="true"
    [(visible)]="shouldShowRollbackWarning"
  >
    <p>
      This change is approaching rollback timeout. Auto rollback sequence will
      be initiated in
      <strong>{{
        timeToRollbackInSeconds?.toString().split('.').shift()
      }}</strong>
      seconds!
    </p>

    <ng-template pTemplate="footer">
      <button
        pButton
        icon="pi pi-undo"
        label="Rollback"
        class="p-button-rounded p-button-outlined p-button-danger mr-2 mb-2"
        [disabled]="isLoading"
        (click)="onRollback()"
      ></button>

      <button
        pButton
        icon="pi pi-check"
        label="Accept"
        class="p-button-rounded mb-2"
        [disabled]="isLoading || isAutoRollbackStarted"
        (click)="onContinue()"
      ></button>

      <button
        *ngIf="durationThatCanBeRequested > 0"
        type="button"
        pButton
        icon="pi pi-clock"
        label="+{{ durationThatCanBeRequested.toFixed(2) }} Minutes"
        class="p-button-rounded p-button-success mr-0 ml-3 mb-2"
        (click)="increaseRollbackTimer(durationThatCanBeRequested)"
      ></button>
    </ng-template>
  </p-dialog>
  <!--  DIALOG FOR AUTO ROLLBACK TIMER WARNING ENDS HERE  -->

  <!--  PRE VALIDATION TABS STARTS HERE   -->
  <p-tabView>
    <p-tabPanel
      *ngFor="let validation of preValidations; let index = index"
      [header]="validation?.command"
      [leftIcon]="
        validation?.status === 'completed' &&
        postValidations[index]?.status === 'completed'
          ? 'pi pi-check-circle'
          : 'pi pi-times-circle'
      "
    >
      <!-- COMPARE VIEW STARTS -->
      <section *ngIf="isCompareModeActive" class="config-diff-wrapper mt-2">
        <td-ngx-text-diff
          [left]="validation?.output"
          [right]="postValidations[index]?.output"
          [showToolbar]="true"
          [format]="isInlineView ? 'LineByLine' : 'SideBySide'"
          [hideMatchingLines]="hideMatchingLines"
          [outerContainerClass]="'compare-container'"
        ></td-ngx-text-diff>
      </section>
      <!-- COMPARE VIEW ENDS -->
      <!-- NORMAL SPLIT VIEW STARTS -->
      <p-splitter *ngIf="!isCompareModeActive" styleClass="mt-2">
        <ng-template pTemplate="">
          <!--  PRE-VALIDATION PANEL STARTS HERE   -->
          <section class="configuration-wrapper left-border-radius">
            <h3>Pre-Validation</h3>
            <!--  CONFIGURATION FAB STARTS HERE   -->
            <button
              [cdkCopyToClipboard]="validation?.output"
              pButton
              pRipple
              type="button"
              icon="pi pi-copy"
              pTooltip="Copy to Clipboard"
              class="copy-button p-button-rounded p-button-text p-button-plain"
            ></button>
            <!--  CONFIGURATION FAB ENDS HERE   -->

            <!--  CONFIGURATION DISPLAY STARTS HERE  -->
            <pre
              name="fieldName"
              ngDefaultControl
              [(ngModel)]="validation.output"
              >{{ validation?.output }}</pre
            >
            <!--  CONFIGURATION DISPLAY ENDS HERE  -->
          </section>
          <!--  PRE-VALIDATION PANEL ENDS HERE   -->
        </ng-template>
        <ng-template pTemplate="">
          <!--  POST-VALIDATION PANEL STARTS HERE   -->
          <section class="configuration-wrapper right-border-radius">
            <h3>Post-Validation</h3>
            <!--  CONFIGURATION FAB STARTS HERE   -->
            <button
              [cdkCopyToClipboard]="postValidations[index]?.output"
              pButton
              pRipple
              type="button"
              icon="pi pi-copy"
              pTooltip="Copy to Clipboard"
              class="copy-button p-button-rounded p-button-text p-button-plain"
            ></button>
            <!--  CONFIGURATION FAB ENDS HERE   -->

            <!--  CONFIGURATION DISPLAY STARTS HERE  -->
            <pre
              name="fieldName"
              ngDefaultControl
              [(ngModel)]="postValidations[index].output"
              >{{ postValidations[index]?.output }}</pre
            >
            <!--  CONFIGURATION DISPLAY ENDS HERE  -->
          </section>
          <!--  POST-VALIDATION PANEL ENDS HERE   -->
        </ng-template>
      </p-splitter>
      <!-- NORMAL SPLIT VIEW ENDS -->
    </p-tabPanel>
  </p-tabView>
  <!--  PRE VALIDATION TABS ENDS HERE   -->

  <!--  FOOTER ACTIONS STARTS HERE  -->
  <ng-template pTemplate="footer">
    <div class="pb-2 pt-1 d-flex">
      <button
        pButton
        icon="pi pi-undo"
        label="Rollback"
        class="p-button-rounded p-button-outlined p-button-danger mr-2"
        [disabled]="isLoading"
        (click)="onRollback()"
      ></button>
      <button
        pButton
        icon="pi pi-check"
        label="Accept"
        class="p-button-rounded"
        [disabled]="isLoading || isAutoRollbackStarted"
        (click)="onContinue()"
      ></button>
      <div class="timer-wrapper">
        <!-- Change data-value in svg element to impact progress -->
        <svg
          viewBox="0 0 100 100"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="none"
          data-value="20:22"
        >
          <circle r="45" cx="50" cy="50" />
          <!-- 282.78302001953125 is auto-calculated by path.getTotalLength() -->
          <path
            class="meter"
            d="M5,50a45,45 0 1,0 90,0a45,45 0 1,0 -90,0"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-dashoffset="282.78302001953125"
            stroke-dasharray="282.78302001953125"
          />
          <!-- Value automatically updates based on data-value set above -->
          <text
            x="50"
            y="50"
            text-anchor="middle"
            dominant-baseline="central"
            font-size="26"
          ></text>
        </svg>
        <p>Time left to Auto Rollback!</p>
      </div>

      <span class="right-float">
        <button
          pButton
          icon="pi pi-clone"
          label="Compare"
          [ngClass]="{ 'p-button-outlined': !isCompareModeActive }"
          class="p-button-rounded p-button-secondary"
          (click)="isCompareModeActive = !isCompareModeActive"
        ></button>
      </span>
    </div>
  </ng-template>
  <!--  FOOTER ACTIONS ENDS HERE  -->
</p-card>
