<section class="process-container">
  <p-timeline [value]="processes" align="left" styleClass="customized-timeline">
    <ng-template pTemplate="marker" let-process>
      <span
        class="custom-marker p-shadow-2"
        [ngClass]="{
          'bg-status-running': process.status === 'running',
          'bg-status-passed': process.status === 'passed',
          'bg-status-failed': process.status === 'failed',
          'bg-status-not-available': process.status === 'n/a'
        }"
      >
        <i
          class="pi"
          [ngClass]="{
            'pi-spin pi-cog': process.status === 'running',
            'pi-check-circle': process.status === 'passed',
            'pi-times-circle': process.status === 'failed',
            'pi-clock': process.status === 'n/a'
          }"
        ></i>
      </span>
    </ng-template>
    <ng-template pTemplate="content" let-process>
      <div class="pt-2 pb-3">
        <p
          class="process-title"
          [ngClass]="{
            'font-medium':
              process.status === 'running' || process.status === 'failed'
          }"
        >
          {{ process.title }}
        </p>
        <div class="running-wrapper" *ngIf="process.status === 'running'">
          <i class="pi pi-spin pi-spinner spinner-custom mr-2"></i
          >{{ process.message }}
        </div>
        <div class="passed-wrapper" *ngIf="process.status === 'passed'">
          {{ process.message }}
        </div>
        <div class="failed-wrapper" *ngIf="process.status === 'failed'">
          <div class="error-title">
            <i class="pi pi-exclamation-triangle mr-2"></i>{{ process.message }}
          </div>
          <div class="error-disclaimer">
            If you wish to retry this step, please click "Retry", otherwise
            "Close" this window and try again. If the problem persists please
            use the "Help" to contact support!
          </div>
        </div>
      </div>
    </ng-template>
  </p-timeline>

  <footer *ngIf="isAnyProcessFailed" class="process-footer">
    <div class="d-flex">
      <button
        label="Close"
        pRipple
        type="button"
        icon="pi pi-times"
        class="p-button-rounded p-button-outlined mr-2"
        pButton
        (click)="dialogRef.close(false)"
      ></button>
      <button
        label="Retry"
        pRipple
        type="button"
        icon="pi pi-refresh"
        class="p-button-rounded mr-4"
        pButton
        (click)="onRetry()"
      ></button>

      <button
        label="Help"
        pRipple
        type="button"
        icon="pi pi-question"
        class="right-float p-button-rounded p-button-help"
        pButton
        (click)="dialogRef.close(false)"
      ></button>
    </div>
  </footer>
</section>
