.p-label {
  font-size: 14px;
  line-height: 2.25rem;
  margin: 0;
}
.footer-button-panel {
  display: flex;
  width: 22rem;
  padding: 0 1rem 1rem 1rem;
}
.checkbox-line-height {
  line-height: 2rem;
}
.danger-color {
  color: #e91224;
}


