.alertShow {
  background: #f2edda;
  padding: 7px;
  font-size: 1.2em;
  margin-bottom: 5px;
  margin-top:5px;
  display:block;
  animation: 1s alertAnimShow forwards;
}

.alertHide {
  display:none;
}

@keyframes alertAnimShow {
  from {
    opacity:0;
    display:none;
    transform: translateY(20px);
  }
  to {
    opacity:1;
    display:block;
    transform: translateY(0);
  }
}

.alertShow strong{
  margin-left: 10px;
}

body .ui-tree {
  border: 0px solid transparent !important;
  background-color: #ffffff;
  color: #333333;
  padding: 0 !important;
}