body .ui-autocomplete .ui-autocomplete-input {
    width: 100% !important;
}

.fullScreenView {
    width: 100% !important;
}

.admin-ui-search{
    width: 100% !important;
}

.device-container {
  background: white !important;
  box-shadow: 5px 5px 20px lightgray;
  padding: 10px;
}
