<div *ngIf="usedKeyTracking.length != 0">
  <p-checkbox inputId="createConditionCheckboxChecked" value="createConditionCheckboxChecked" (onChange)="createCondition($event)" label="Add Conditon"></p-checkbox><br>
  <div *ngIf="createConditionCheckboxChecked">
    <div class="ui-g" [formGroup]="formToCheck">
      <div *ngFor="let condition of conditions; let i=index" >
        <p *ngIf=(conditionChecked)>Display this field IF value in field with key:</p>
        <div class="ui-g-4" *ngIf=(conditionChecked)>
          <p-dropdown placeholder="Key" [options]="keysArray" optionLabel="keyName" [formControl]="formToCheck.controls[condition.allKeys]" (onChange)="(dropdownCheck(formToCheck.value[condition.allKeys], condition.allKeys))"></p-dropdown>
          <!--<mat-select (selectionChange)="(dropdownCheck(formToCheck.value[condition.allKeys], condition.allKeys))" formControlName="{{condition.allKeys}}" placeholder="Key">
            <mat-option *ngFor="let key of usedKeyTracking" [value]="key">{{key}}</mat-option>
          </mat-select>-->
          <p-message severity="error" text="This field is required!" *ngIf="!formToCheck.controls[condition.allKeys].valid&&formToCheck.controls[condition.allKeys].dirty"></p-message>
        </div>  

        <div class="ui-g-4" *ngIf=(conditionChecked)>
          <p-dropdown placeholder="Type" [options]="typeOptions" [formControl]="formToCheck.controls[condition.condition]" optionLabel="name"></p-dropdown>
          <p-message severity="error" text="This field is required!" *ngIf="!formToCheck.controls[condition.condition].valid&&formToCheck.controls[condition.condition].dirty"></p-message>
          <!--<mat-select formControlName="{{condition.condition}}" placeholder="Type">
            <mat-option value="eq">Equals</mat-option>
            <mat-option value="neq">Not Equals</mat-option>
          </mat-select>-->
        </div>  

        <div class="ui-g-4" *ngIf="!(conditions[i].isDropdown)">
            <input type="text" [formControl]="formToCheck.controls[condition.conditionValue]" placeholder="Value" pInputText />
        </div>

        <div class="ui-g-4" *ngIf="(conditions[i].isDropdown)">
          <mat-select [formControl]="formToCheck.controls[condition.conditionValue]" placeholder="Value">
            <mat-option *ngFor="let opt of questions[condition.questionIndex].options" [value]="opt.key">{{opt.value}}</mat-option>
          </mat-select>
          <mat-error>This filed is<strong>required!</strong></mat-error>
        </div>  

        <button *ngIf="i > 1" pButton type="button" iconPos="left" icon="far fa-trash-alt" class="ui-button-secondary" (click)="RemoveCondition(condition)" label="remove"></button>

        <div class="ui-g-6" *ngIf="(displayOptions) && (condition.type != undefined)">
            <mat-select (selectionChange)="complexCondition(condition.alreadyCalled)" [formControl]="formToCheck.controls[condition.type]" placeholder="Condition Type">
              <mat-option value="and">And</mat-option>
              <mat-option value="or">Or</mat-option>
            </mat-select>
            <mat-error>This filed is<strong>required!</strong></mat-error>
        </div>  
      </div>
    </div>

    <button *ngIf="usedKeyTracking.length > 1 && (createConditionCheckboxChecked) && !buttonDisable" 
      pButton type="button" iconPos="left" icon="fa fa-plus" class="ui-button-secondary" (click)="displayConditionOptions()" label="Add another condition"></button>
    <button *ngIf="usedKeyTracking.length > 1 && (createConditionCheckboxChecked) && (addButtonEnable) &&  conditionCount < usedKeyTracking.length" 
      pButton type="button" iconPos="left" icon="fa fa-plus" class="ui-button-secondary" (click)="AddConditionIntoList()" label="add"></button>

  </div>
</div>