.error-wrapper {
  width: 100%;
  text-align: center;
  i {
    font-size: 4rem;
  }
  h4 {
    margin: 1.5rem 0 0.5rem 0;
  }
  p {
    margin: 0;
  }
}

.tdc-container {
  padding: 1rem;
}

.tdc-dashboard-container {
  h3 {
    margin: 0;
  }
  p {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
  }
}

.tdc-table-container {
  border: 1px solid var(--border-color);
  border-radius: 1rem;
}

.template-info {
  cursor: pointer;
  color: var(--primary-color);
  i {
    font-size: 14px;
  }
}
.template-td {
  display: inline-block;
  width: 13rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-line;
}

input {
  width: 100%;
  border-radius: 0.5rem;
}

.map-overlay {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
  background: var(--surface-100);
  border-radius: 1rem;
  #map-error-icon {
    font-size: 2rem;
  }
  h4 {
    margin: 0.5rem;
  }
}

.warning-container {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin-left: 0.5rem;
  color: var(--text-color-secondary);
  font-size: 12px;
  i {
    font-size: 1.75rem;
  }
}

:host ::ng-deep p-paginator {
  position: absolute;
  right: 0;
  bottom: -4.75rem;
}
:host ::ng-deep .p-selectbutton .p-button {
  padding: 14px !important;
  border-radius: 1rem;
}
:host ::ng-deep .p-input-icon-left,
.p-input-icon-right {
  width: 100%;
}
:host ::ng-deep .p-datatable table {
  clip-path: inset(0% 0% 0% 0% round 1rem);
  tbody > tr:last-child > td {
    border-bottom: 0;
  }
}
:host ::ng-deep .p-component-overlay {
  background-color: rgba(0, 0, 0, 0.1) !important;
  transition-duration: 0.2s;
  border-radius: 0.75rem !important;
}
:host ::ng-deep .p-datatable .p-paginator-bottom {
  border-width: 0 !important;
  border-radius: 0 !important;
}
