h6 {
  font-size: 14px;
  font-weight: 700;
  margin-top: 6px;
}


.warning-issue {
  color: peru;
}

.danger-issue {
  color: red
}
.loader-text {
  display: flex;
  align-items: center;
}

:host ::ng-deep .ui-paginator .ui-paginator-current {
  color: #333333;
  height: 2.286em;
  min-width: 2.286em;
  position: absolute;
  left: 0;
}
