<div class="application_loading" *ngIf="showSpinner">
    <p-progressSpinner animationDuration=".8s"></p-progressSpinner>
</div>
<form *ngIf="form" [formGroup]="form">
<div class="modal-header">
    <h7 class="first">Add new action</h7>
    <div class="p-grid">
        <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
        <label style="margin-right: 0.5rem"> Enabled </label>
        <p-inputSwitch formControlName="enabled"></p-inputSwitch>
    </div>
    </div>
</div>

<div>

        <div class="modal-body">
            <div class="p-grid">
                <div id="modal_carche_edit" class="p-col-12">
                    <div class="p-field p-grid">
                        <label for="float-input" style="color: #333333 !important;font-size: 14px !important;
                          padding-left: 0.429em !important;width:172px !important;" class="p-col-fixed">Action name
                            <span id="marker_required">*</span>
                        </label>
                        <div class="p-col">
                            <span class="ui-float-label">
                                <input id=ActionName pattern="^\s*\S+\s*$" formControlName="name" id="float-input"
                                    type="text" pInputText required="true" maxlength="120" placeholder="Action name">
                            </span>
                            <p-message *ngIf="!form.controls.name.valid && form.controls.name.dirty" severity="warn"
                                text="This field is required"></p-message>
                        </div>
                    </div>
                </div>
                <div id="modal_carche_edit" class="p-col-12" *ngIf="form.controls.name.valid">
                    <div class="p-field p-grid">
                        <label for="float-input" style="color: #333333 !important;font-size: 14px !important;
                        padding-left: 0.429em !important;width:172px !important;" class="p-col-fixed">Customer </label>
                        <div class="p-col">
                            <span class="ui-float-label">
                                <p-dropdown *ngIf="customers"
                                    class="ui-dropdown-label" [options]="customers" filter="true"
                                    (onChange)="onCustomer($event)" optionLabel="name" placeholder="Customer"
                                    formControlName="customer" [showClear]="true">
                                </p-dropdown>
                            </span>
                            <i *ngIf="!customers" class="pi pi-spin pi-spinner"
                                style="font-size: 2em; display: inline-block"></i>
                            <p *ngIf="!customers" style="display: inline-block; margin-left: 1rem"> Loading data </p>
                        </div>
                    </div>
                </div>


                <div id="modal_carche_edit" class="p-col-12" *ngIf="form.controls.name.valid">
                    <div class="p-field p-grid">
                        <label for="float-input" style="color: #333333 !important;font-size: 14px !important;
                        padding-left: 0.429em !important;width:172px !important;" class="p-col-fixed">Services
                            <span id="marker_required">*</span>
                        </label>
                        <div class="p-col">
                            <span class="ui-float-label">
                                <p-multiSelect *ngIf="services" class="ui-dropdown-label"
                                    [options]="services" filter="true" optionLabel="serviceName"
                                    (onPanelHide)="onService($event); filterDevices();" placeholder="Service" formControlName="service"
                                    [showClear]="true" required="true">
                                </p-multiSelect>
                            </span>
                            <p-message *ngIf="!form.controls.service.valid && form.controls.service.dirty"
                                severity="warn" text="This field is required"></p-message>
                            <i *ngIf="!services" class="pi pi-spin pi-spinner"
                                style="font-size: 2em; display: inline-block"></i>
                            <p *ngIf="!services" style="display: inline-block; margin-left: 1rem"> Loading data </p>
                        </div>
                    </div>
                </div>


                <div id="modal_carche_edit" class="p-col-12" *ngIf="form.controls.service.valid && form.controls.name.valid">
                    <div class="p-field p-grid">
                        <label for="float-input" style="color: #333333 !important;font-size: 14px !important;
                        padding-left: 0.429em !important;width:172px !important;" class="p-col-fixed">Action type
                            <span id="marker_required">*</span>
                        </label>
                        <div class="p-col">
                            <span class="ui-float-label">
                                <p-dropdown *ngIf="workflows.length > 0 && form.get('service').value
                                    && form.get('service').value.length > 0 " class="ui-dropdown-label"
                                    [options]="workflows" filter="true" optionLabel="NAME" placeholder="Action type"
                                    formControlName="workflow" [showClear]="true" required="true" (onChange)="checkForConfigTemplate()"></p-dropdown>
                            </span>
                            <p-message
                                *ngIf="!workflows.length == 0 && !form.controls.workflow.valid && form.controls.workflow.dirty"
                                severity="warn" text="This field is required"></p-message>
                            <p-message *ngIf="emptyData" severity="warn"
                                text="Action can not be created, selected service does not have assigned action type">
                            </p-message>
                            <i *ngIf="workflows.length == 0 && !emptyData" class="pi pi-spin pi-spinner"
                                style="font-size: 2em; display: inline-block"></i>
                            <p *ngIf="workflows.length == 0 && !emptyData"
                                style="display: inline-block; margin-left: 1rem">
                                Loading data </p>
                        </div>
                    </div>
                </div>

                <div id="modal_carche_edit" class="p-col-12" *ngIf="form.controls.service.valid && form.controls.name.valid
                && form.controls.workflow.valid">
                    <div class="p-field p-grid">
                        <label for="float-input" style="color: #333333 !important;font-size: 14px !important;
                        padding-left: 0.429em !important;width:172px !important;" class="p-col-fixed">Vendor type
                         <span id="marker_required">*</span>
                        </label>
                        <div class="p-col">
                            <span class="ui-float-label">
                                <p-dropdown *ngIf="vendorTypes.length > 0" class="ui-dropdown-label"
                                    [options]="vendorTypes" filter="true" optionLabel="vendorType"
                                    placeholder="Vendor type" formControlName="vendorType" [showClear]="true"
                                    (onChange)="onVendorChange($event); filterDevices();"  required="true">
                                </p-dropdown>
                            </span>
                            <p-message
                                *ngIf="!vendorTypes.length == 0 && !form.controls.vendorType.valid && form.controls.vendorType.dirty"
                                severity="warn" text="This field is required"></p-message>
                            <i *ngIf="vendorTypes.length == 0" class="pi pi-spin pi-spinner"
                                style="font-size: 2em; display: inline-block"></i>
                            <p *ngIf="vendorTypes.length == 0" style="display: inline-block; margin-left: 1rem"> Loading
                                data
                            </p>
                        </div>
                    </div>
                </div>

                <div id="modal_carche_edit" class="p-col-12" *ngIf="form.controls.service.valid && form.controls.name.valid
                && form.controls.workflow.valid && form.controls.vendorType.valid">
                    <div *ngIf="workflowAttributes.hostname.value" class="p-field p-grid">
                        <label *ngIf="workflowAttributes.hostname.required" for="float-input" style="color: #333333 !important;font-size: 14px !important;
                        padding-left: 0.429em !important;width:172px !important;" class="p-col-fixed">Devices <span id="marker_required">*</span>
                        </label>
                        <label *ngIf="!workflowAttributes.hostname.required" for="float-input" style="color: #333333 !important;font-size: 14px !important;
                        padding-left: 0.429em !important;width:172px !important;" class="p-col-fixed">Devices
                        </label>

                        <div class="p-col">
                            <span class="ui-float-label">
                                <p-autoComplete
                                    *ngIf="!loadingHostnames"
                                    styleClass="myAutoComplete"
                                    inputStyleClass="myAutoCompleteInput"
                                    [suggestions]="filteredDevices"
                                    formControlName="staticHostname"
                                    (completeMethod)="filterDeviceSingle($event)"
                                    field="HOSTNAME"
                                    [size]="30"
                                    placeholder="type hostname here"
                                    [minLength]="1"></p-autoComplete>
                            </span>
                            <i *ngIf="filteredDevices.length == 0 && this.form.get('service').value && loading && !emptyData"
                                class="pi pi-spin pi-spinner" style="font-size: 2em; display: inline-block"></i>
                            <p *ngIf="filteredDevices.length == 0 && this.form.get('service').value && loading && !emptyData"
                                style="display: inline-block; margin-left: 1rem"> Loading data </p>
                        </div>
                    </div>
                </div>


                <div id="modal_carche_edit" class="p-col-12" *ngIf="form.controls.service.valid && form.controls.name.valid
                && form.controls.workflow.valid && form.controls.vendorType.valid">
                    <div *ngIf="workflowAttributes.configurationTemplate.value" class="p-field p-grid">
                        <label *ngIf="workflowAttributes.configurationTemplate.required" for="float-input" style="color: #333333 !important;font-size: 14px !important;
                        padding-left: 0.3em !important;width:172px !important;" class="p-col-fixed"> Configuration template<span id="marker_required">*</span>
                        </label>
                        <label *ngIf="!workflowAttributes.configurationTemplate.required" for="float-input" style="color: #333333 !important;font-size: 14px !important;
                        padding-left: 0.3em !important;width:172px !important;" class="p-col-fixed">Configuration template
                        </label>
                        <div class="p-col">
                            <span class="ui-float-label">
                                <p-dropdown *ngIf="templates.length > 0 && ((form.get('service').value
                                    && form.get('service').value.length > 0) || form.get('customer').value)"
                                    class="ui-dropdown-label" [options]="templates" filter="true" optionLabel=""
                                    placeholder="Configuration template" formControlName="confTemplate" [showClear]="true"
                                    [group]="true">
                                        <ng-template let-item pTemplate="item">
                                            <div style="margin-left: 15px;">
                                                <span >{{item.label}}</span>
                                            </div>
                                        </ng-template>
                                </p-dropdown>
                            </span>
                            <p-message *ngIf="confTempEmptyData" severity="info" text="Config templates are not available!">
                            </p-message>
                            <i *ngIf="templates.length == 0 && this.form.get('service').value && loading && !emptyData"
                                class="pi pi-spin pi-spinner" style="font-size: 2em; display: inline-block"></i>
                            <p *ngIf="templates.length == 0 && this.form.get('service').value && loading && !emptyData"
                                style="display: inline-block; margin-left: 1rem"> Loading data </p>
                        </div>
                    </div>
                </div>
                <div id="modal_carche_edit" class="p-col-12" *ngIf="form.controls.service.valid && form.controls.name.valid
                && form.controls.workflow.valid && form.controls.vendorType.valid">
                    <div *ngIf="workflowAttributes.apiEndpoint.value" class="p-field p-grid">
                        <label *ngIf="workflowAttributes.apiEndpoint.required" for="float-input" style="color: #333333 !important;font-size: 14px !important;
                        padding-left: 0.3em !important;width:172px !important;" class="p-col-fixed"> Report API Endpoint<span id="marker_required">*</span>
                        </label>
                        <label *ngIf="!workflowAttributes.apiEndpoint.required" for="float-input" style="color: #333333 !important;font-size: 14px !important;
                        padding-left: 0.3em !important;width:172px !important;" class="p-col-fixed">Report API Endpoint
                        </label>
                        <div class="p-col">
                            <span class="ui-float-label">
                                <input formControlName="apiEndpoint" id="float-input"
                                type="text" pInputText required="true" placeholder="Endpoint name">
                            </span>

                        </div>
                    </div>
                </div>
                <div id="modal_carche_edit" class="p-col-12" *ngIf="form.controls.name.valid">
                    <div class="p-field p-grid">
                        <div class="p-col">
                        <label for="float-input" style="color: #333333 !important;font-size: 14px !important;
                        padding-left: 0.429em !important;width:172px !important;" class="p-col-fixed"> Desription of action
                         <span id="marker_required">*</span>
                        </label>
                        </div>
                        <div class="p-col-12">
                            <textarea style="width: 100%" formControlName="description" placeholder="Desription of action"
                                pInputTextarea></textarea>
                            <p-message *ngIf="!form.controls.description.valid && form.controls.description.dirty"
                                severity="warn" text="This field is required"></p-message>
                        </div>
                    </div>
                </div>
                <div id="modal_carche_edit" class="p-col-12" *ngIf="form.controls.name.valid">
                <div class="p-field p-grid">
                    <div class="p-col-6">
                        <label for="float-input" style="color: #333333 !important;font-size: 14px !important;
                        padding-left: 0.429em !important;width:172px !important;" class="p-col-fixed"> Minimum rollback timer
                        </label>
                    </div>
                    <div class="p-col-6">
                        <input formControlName="minRollbackTimer" id="float-input"
                        type="text" pInputText placeholder="Minimum rollback timer">
                    </div>
                </div>
                <div class="p-field p-grid">
                    <div class="p-col-6">
                        <label for="float-input" style="color: #333333 !important;font-size: 14px !important;
                        padding-left: 0.429em !important;width:172px !important;" class="p-col-fixed"> Maximum rollback timer
                        </label>
                    </div>
                    <div class="p-col-6">
                        <input formControlName="maxRollbackTimer" id="float-input"
                        type="text" pInputText placeholder="Maximum rollback timer">
                    </div>
                </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button pButton type="button" label="Create" [disabled]="!form.valid" (click)="addAction()"></button>
            <button pButton type="button" label="Close" (click)="closeModal()"></button>
        </div>

</div>
</form>