body .ui-multiselect {
    width: 100% !important;
}

.ui-multiselect-label-container.ng-tns-c150-10 {
    width: 100% !important;
}
.myAutoComplete {
    width: 100% !important;
}
.myAutoCompleteInput {
    width: 100% !important;
}
