.cred-wrapper {
  width: 100%;
  max-height: calc(100vh - 30.5rem);
  overflow-y: scroll;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
}

.info-container {
  display: flex;
  align-items: center;
}

.label {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.required-sup {
  color: var(--primary-color);
}

.under-belly-message {
  padding-top: 0.25rem;
  font-size: 0.75rem;
}
