<p-card styleClass="p-3 p-card-shadow step-router-outlet-card">
  <div class="step-header mt-0 mb-4 underline">{{ title }}</div>

  <p-confirmDialog
    header="Confirmation"
    styleClass="p-confirm-custom"
    icon="pi pi-exclamation-triangle"
    rejectButtonStyleClass="p-button-rounded p-button-outlined mb-2"
    acceptButtonStyleClass="p-button-rounded mr-0 mb-2"
  ></p-confirmDialog>

  <section class="cred-wrapper" [formGroup]="form">
    <div class="mb-3" *ngFor="let question of questions">
      <!--  RENDER TEXT BOX STARTS -->
      <div class="row" *ngIf="question.controlType === 'textbox'">
        <label class="label col-md-2 col-sm-12" *ngIf="question.label">
          <span>
            {{ question.label
            }}<sup class="required-sup" *ngIf="question.required">*</sup>
          </span>
        </label>
        <div class="col-md-6 col-sm-12">
          <input
            id="{{ question.key }}"
            [type]="question.type"
            class="p-inputtext-sm w-full"
            [formControlName]="question.key"
            [placeholder]="question.placeholder"
            [hidden]="question.hidden"
            pInputText
          />
        </div>
        <div class="info-container col-md-4 col-sm-12">
          <div
            class="p-error"
            *ngIf="
              form.get(question.key)?.invalid &&
              (form.get(question.key)?.dirty || form.get(question.key)?.touched)
            "
          >
            <!--  Check Required  -->
            <div *ngIf="form.get(question.key)?.errors?.['required']">
              <span class="pi pi-exclamation-triangle mr-1"></span>
              {{ question.label }} is required.
            </div>
            <!--  Check Email Address  -->
          </div>
        </div>
      </div>
      <!--  RENDER TEXT BOX ENDS -->

      <!--  RENDER DROPDOWN STARTS -->
      <div class="row" *ngIf="question.controlType === 'dropdown'">
        <label class="label col-md-2 col-sm-12" *ngIf="question.label">
          <span>
            {{ question.label
            }}<sup class="required-sup" *ngIf="question.required">*</sup>
          </span>
        </label>
        <div class="col-md-6 col-sm-12">
          <p-dropdown
            id="{{ question.key }}"
            appendTo="body"
            [formControlName]="question.key"
            [options]="question.options || []"
            styleClass="w-full p-inputtext-sm"
            placeholder="{{ question.placeholder }}"
            optionLabel="name"
            optionValue="value"
            [filter]="true"
            filterBy="name"
          >
          </p-dropdown>
        </div>
        <div class="info-container col-md-4 col-sm-12">
          <div
            class="p-error"
            *ngIf="
              form.get(question.key)?.invalid &&
              (form.get(question.key)?.dirty || form.get(question.key)?.touched)
            "
          >
            <!--  Check Required  -->
            <div *ngIf="form.get(question.key)?.errors?.['required']">
              <span class="pi pi-exclamation-triangle mr-1"></span>
              {{ question.label }} is required.
            </div>
          </div>
        </div>
      </div>
      <!--  RENDER DROPDOWN ENDS -->

      <!--  RENDER CHIPS STARTS -->
      <div class="row" *ngIf="question.controlType === 'chips'">
        <label class="label col-md-2 col-sm-12" *ngIf="question.label">
          <span>
            {{ question.label
            }}<sup class="required-sup" *ngIf="question.required">*</sup>
          </span>
        </label>
        <div class="col-md-6 col-sm-12">
          <p-chips
            [formControlName]="question.key"
            placeholder="{{ question.placeholder }}"
            class="p-fluid"
            separator=","
            [addOnTab]="true"
            [addOnBlur]="true"
          ></p-chips>
        </div>
        <div class="info-container col-md-4 col-sm-12">
          <div
            class="p-error"
            *ngIf="
              form.get(question.key)?.invalid &&
              (form.get(question.key)?.dirty || form.get(question.key)?.touched)
            "
          >
            <!--  Check Required  -->
            <div *ngIf="form.get(question.key)?.errors?.['required']">
              <span class="pi pi-exclamation-triangle mr-1"></span>
              {{ question.label }} is required.
            </div>
          </div>
        </div>
      </div>
      <!--  RENDER CHIPS ENDS -->
    </div>
  </section>

  <!--  FOOTER ACTIONS STARTS HERE  -->
  <ng-template pTemplate="footer">
    <div class="pb-2 pt-1">
      <button
        pButton
        icon="pi pi-chevron-left"
        label="Back"
        class="p-button-rounded p-button-outlined mr-2"
        [disabled]="isLoading"
        (click)="onBack()"
      ></button>
      <button
        *ngIf="!isFinalStep"
        pButton
        icon="pi pi-check"
        label="Continue"
        class="p-button-rounded"
        [disabled]="isLoading || !form.valid"
        (click)="onContinue()"
      ></button>
      <button
        *ngIf="isFinalStep"
        pButton
        icon="pi pi-home"
        label="Home"
        class="p-button-rounded"
        routerLink="/"
      ></button>
    </div>
  </ng-template>
  <!--  FOOTER ACTIONS ENDS HERE  -->
</p-card>
