.configuration-wrapper {
  position: relative;
  width: 100%;
  background-color: var(--surface-50);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
}

.configuration-wrapper pre {
  min-height: 25vh;
  max-height: calc(100vh - 32.9rem);
  overflow-y: scroll;
  padding: 0.75rem 1.5rem;
}

.copy-button {
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
}
