.chart-container {
  border: 1px solid var(--border-color);
  border-radius: 1rem;

  .chart-title {
    font-size: 0.9rem;
    margin: 0.25rem;
    color: var(--text-color-secondary);
  }

  .chart-subtitle {
    font-size: 0.8rem;
    margin: 0.5rem;
    color: var(--text-color-secondary);
  }

  .chart {
    position: relative;
    padding: 1rem 2rem 3rem 2rem;
  }
}

.filter-container {
  background: var(--surface-50);
  border: 1px solid var(--border-color);
  border-radius: 1rem;

  .title {
    display: flex;
    align-self: center;
  }

  .filter-title {
    margin: 0;
    font-size: 0.75rem;
  }

  .filter-timespan {
    margin: 0;
    font-size: 0.74rem;
    text-align: right;
    padding-top: 0.15rem;

    span {
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}

.summary-container {
  .table-icon {
    font-size: 12px !important;
    margin-right: 2px;
  }
}

.summary-map-container {
  height: 20rem;
}
