<p-contextMenu class="action-menu" #actionMenu [model]="contextMenu"></p-contextMenu>
<section [ngClass]="editable ? 'separation-padding' : 'p-4'">
  <div *ngFor="let question of questions; let index = index">
    <ng-container [ngSwitch]="question.controlType">
      <!--  RENDER MESSAGE STARTS -->
      <div class="ui-grid-row"
           [ngClass]="{'bg-white p-3 separation-margin': editable, 'mb-3': !editable}"
           *ngSwitchCase="'message'"
           (contextmenu)="showActionMenu($event, question, index)">
        <p class="p-label ui-grid-col-4"
           *ngIf="question.label">
          {{ question.label}}<sup class="required-sup" *ngIf="question.required">*</sup>
        </p>
        <p class="message-p ui-grid-col-8">{{ question.value }}</p>
      </div>
      <!--  RENDER MESSAGE ENDS -->

      <!--  RENDER TEXT BOX STARTS -->
      <div class="ui-grid-row"
           [ngClass]="{'bg-white p-3 separation-margin': editable, 'mb-2': !editable}"
           *ngSwitchCase="'textbox'"
           (contextmenu)="showActionMenu($event, question, index)">
        <p class="p-label ui-grid-col-4"
           *ngIf="question.label">{{ question.label}}<sup class="required-sup" *ngIf="question.required">*</sup>
        </p>
        <div class="ui-grid-col-8">
          <input
            id="{{ question.key }}"
            type="text"
            class="p-inputtext-sm w-full"
            [placeholder]="question.placeholder"
            [hidden]="question.hidden"
            pInputText
          />
        </div>
      </div>
      <!--  RENDER TEXT BOX ENDS -->

      <!--  RENDER DROPDOWN STARTS -->
      <div class="ui-grid-row"
           [ngClass]="{'bg-white p-3 separation-margin': editable, 'mb-2': !editable}"
           *ngSwitchCase="'dropdown'"
           (contextmenu)="showActionMenu($event, question, index)">
        <p class="p-label ui-grid-col-4" *ngIf="question.label">
          {{ question.label}}<sup class="required-sup" *ngIf="question.required">*</sup>
        </p>
        <div class="ui-grid-col-8">
          <!--  Standard Dropdown if not Multi Select -->
          <p-dropdown
            id="{{ question.key }}"
            appendTo="body"
            [options]="question.options"
            styleClass="w-full p-inputtext-sm"
            placeholder="{{question.placeholder || 'Choose ' + question.label}}"
            optionLabel="value"
            [filter]="true"
            filterBy="value">
          </p-dropdown>
        </div>
      </div>
      <!--  RENDER DROPDOWN ENDS -->

      <!--  RENDER MULTISELECT STARTS -->
      <div class="ui-grid-row"
           [ngClass]="{'bg-white p-3 separation-margin': editable, 'mb-2': !editable}"
           *ngSwitchCase="'multiselect'"
           (contextmenu)="showActionMenu($event, question, index)">
        <p class="p-label ui-grid-col-4" *ngIf="question.label">
          {{ question.label}}<sup class="required-sup" *ngIf="question.required">*</sup>
        </p>
        <div class="ui-grid-col-8">
          <p-multiSelect
            id="{{ question.key }}"
            appendTo="body"
            [options]="question.filteredOptions || question.options || []"
            styleClass="w-full p-inputtext-sm"
            optionLabel="value"
            [filter]="true"
            filterBy="value">
          </p-multiSelect>
        </div>
      </div>
      <!--  RENDER MULTISELECT ENDS -->

      <!--  RENDER CHIPS STARTS -->
      <div class="ui-grid-row"
           [ngClass]="{'bg-white p-3 separation-margin': editable, 'mb-2': !editable}"
           *ngSwitchCase="'chips'"
           (contextmenu)="showActionMenu($event, question, index)">
        <p class="p-label ui-grid-col-4" *ngIf="question.label">
          {{ question.label}}<sup class="required-sup" *ngIf="question.required">*</sup>
        </p>
        <div class="ui-grid-col-8">
          <p-chips
            placeholder="{{ question.placeholder }}"
            class="p-fluid"
            separator=","
            [addOnTab]="true"
            [addOnBlur]="true"
          ></p-chips>
        </div>
      </div>
      <!--  RENDER CHIPS ENDS -->

      <!--  RENDER FILE UPLOAD STARTS -->
      <div class="ui-grid-row"
           [ngClass]="{'bg-white p-3 separation-margin': editable, 'mb-2': !editable}"
           *ngSwitchCase="'file'"
           (contextmenu)="showActionMenu($event, question, index)">
        <p class="p-label ui-grid-col-4" *ngIf="question.label">
          {{ question.label }}<sup class="required-sup" *ngIf="question.required">*</sup>
        </p>
        <div class="ui-grid-col-8">
          <p-fileUpload
            name="{{ question.key }}[]"
            [auto]="true"
            [customUpload]="true"
            [multiple]="false"
            accept=".csv"
            [maxFileSize]="1000000"
          >
            <ng-template pTemplate="toolbar">
              <!--  Very Specific CASE Where there is a Template to be Downloaded -->
              <button
                *ngIf="question?.hasTemplate"
                class="download-btn p-button-success"
                pButton
                icon="pi pi-download"
                label="Template"
                pTooltip="Please click here to download template!"
              ></button>
            </ng-template>
          </p-fileUpload>
        </div>
      </div>
      <!--  RENDER FILE UPLOAD ENDS -->

      <!--  RENDER LIST STARTS -->
      <div [ngClass]="{'bg-white p-3 separation-margin': editable, 'mb-2': !editable}"
           *ngSwitchCase="'list'"
           (contextmenu)="showActionMenu($event, question, index)">
        <p class="p-label mb-2" *ngIf="question.label">
          {{ question.label }}<sup class="required-sup" *ngIf="question.required">*</sup>
        </p>

        <!--  THE LIST TYPE TABLE STARTS HERE  -->
        <div class="ui-grid-row" *ngIf="question.listStyle === 'table'">
          <p-table
            *ngIf="question.columnsType"
            [value]="['dummy value to make the array length no-zero']"
            [columns]="question.columnsType"
            [reorderableColumns]="true"
          >
            <ng-template pTemplate="header" let-columns>
              <tr class="tr-top-border">
                <th class="column-drag" scope="col"></th>
                <th scope="col" *ngFor="let col of columns" pReorderableColumn>
                  <span>{{ col.label}}<sup class="required-sup" *ngIf="col.required">*</sup></span>
                </th>
                <th class="column-actions" scope="col"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-columns="columns" let-index="rowIndex">
              <ng-container>
                <tr [pReorderableRow]="index">
                  <td>
                      <span
                        pTooltip="Reorder this Row"
                        class="pi pi-bars"
                        [pReorderableRowHandle]="index"
                      ></span>
                  </td>
                  <td *ngFor="let col of columns">
                    <!--  SWITCH QUESTION TYPE STARTS -->
                    <ng-container [ngSwitch]="col.controlType">
                      <!--  RENDER MESSAGE STARTS -->
                      <div class="ui-grid-row" *ngSwitchCase="'message'">
                        <p class="message-p ui-grid-col-12">{{ col.value }}</p>
                      </div>
                      <!--  RENDER MESSAGE ENDS -->
                      <!--  RENDER TEXT BOX STARTS -->
                      <div class="ui-grid-row" *ngSwitchCase="'textbox'">
                        <div class="ui-grid-col-12">
                          <input
                            id="{{ col.key }}"
                            type="text"
                            class="p-inputtext-sm w-full"
                            [placeholder]="col.placeholder"
                            [hidden]="col.hidden"
                            pInputText/>
                        </div>
                      </div>
                      <!--  RENDER TEXT BOX ENDS -->
                      <!--  RENDER DROPDOWN STARTS -->
                      <div class="ui-grid-row" *ngSwitchCase="'dropdown'">
                        <div class="ui-grid-col-12">
                          <!--  Standard Dropdown if not Multi Select -->
                          <p-dropdown
                            id="{{ col.key }}"
                            appendTo="body"
                            [options]="col.options"
                            styleClass="w-full p-inputtext-sm"
                            placeholder="{{col.placeholder || 'Choose ' + col.label}}"
                            optionLabel="value"
                            [filter]="true"
                            filterBy="value">
                          </p-dropdown>
                        </div>
                      </div>
                      <!--  RENDER DROPDOWN ENDS -->
                      <!--  RENDER MULTISELECT STARTS -->
                      <div class="ui-grid-row" *ngSwitchCase="'multiselect'">
                        <div class="ui-grid-col-12">
                          <p-multiSelect
                            id="{{ col.key }}"
                            appendTo="body"
                            [options]="col.filteredOptions || col.options || []"
                            styleClass="w-full p-inputtext-sm"
                            [optionLabel]="'value'"
                            [filter]="true"
                            filterBy="value">
                          </p-multiSelect>
                        </div>
                      </div>
                      <!--  RENDER MULTISELECT ENDS -->
                      <!--  RENDER CHIPS STARTS -->
                      <div class="ui-grid-row" *ngSwitchCase="'chips'">
                        <div class="ui-grid-col-12">
                          <p-chips
                            placeholder="{{ col.placeholder }}"
                            class="p-fluid"
                            separator=","
                            [addOnTab]="true"
                            [addOnBlur]="true"
                          ></p-chips>
                        </div>
                      </div>
                      <!--  RENDER CHIPS ENDS -->
                    </ng-container>
                    <!--  SWITCH QUESTION TYPE ENDS -->
                  </td>
                  <td style="width: 3rem">
                    <div class="inline-flex">
                        <span
                          class="pi pi-plus cursor-pointer"
                          pTooltip="Add new Row"
                        ></span>
                      <span
                        class="pi pi-trash ml-3 cursor-pointer"
                        pTooltip="Delete this Row"
                      ></span>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-template>
          </p-table>
        </div>
        <!--  THE LIST TYPE TABLE ENDS HERE  -->

        <!--  THE LIST TYPE DIV STARTS HERE  -->
        <div class="list-table-wrapper" *ngIf="question.listStyle === 'div'">
          <p-table
            *ngIf="question.columnsType"
            [value]="['dummy value to make the array length no-zero']"
            [columns]="question.columnsType"
            [reorderableColumns]="true">
            <ng-template pTemplate="body" let-columns="columns" let-index="rowIndex">
              <ng-container>
                <tr [pReorderableRow]="index">
                  <td class="p-0 border-0 pb-2">
                    <p-panel
                      [toggleable]="true">
                      <p-header>{{ question.label }} - {{ index }}</p-header>
                      <div *ngFor="let col of columns" class="pb-3">
                        <!--  SWITCH QUESTION TYPE STARTS -->
                        <ng-container [ngSwitch]="col.controlType">
                          <!--  RENDER MESSAGE STARTS -->
                          <div class="ui-grid-row" *ngSwitchCase="'message'">
                            <p class="p-label ui-grid-col-4"
                               *ngIf="col.label">
                              {{ col.label}}<sup class="required-sup" *ngIf="col.required">*</sup>
                            </p>
                            <p class="message-p ui-grid-col-8">{{ col.value }}</p>
                          </div>
                          <!--  RENDER MESSAGE ENDS -->
                          <!--  RENDER TEXT BOX STARTS -->
                          <div class="ui-grid-row" *ngSwitchCase="'textbox'">
                            <p class="p-label ui-grid-col-4"
                               *ngIf="col.label">
                              {{ col.label}}<sup class="required-sup" *ngIf="col.required">*</sup>
                            </p>
                            <div class="ui-grid-col-8">
                              <input
                                id="{{ col.key }}"
                                type="text"
                                class="p-inputtext-sm w-full"
                                [placeholder]="col.placeholder"
                                [hidden]="col.hidden"
                                pInputText/>
                            </div>
                          </div>
                          <!--  RENDER TEXT BOX ENDS -->
                          <!--  RENDER DROPDOWN STARTS -->
                          <div class="ui-grid-row" *ngSwitchCase="'dropdown'">
                            <p class="p-label ui-grid-col-4"
                               *ngIf="col.label">
                              {{ col.label}}<sup class="required-sup" *ngIf="col.required">*</sup>
                            </p>
                            <div class="ui-grid-col-8">
                              <!--  Standard Dropdown if not Multi Select -->
                              <p-dropdown
                                id="{{ col.key }}"
                                appendTo="body"
                                [options]="col.options"
                                styleClass="w-full p-inputtext-sm"
                                placeholder="{{col.placeholder || 'Choose ' + col.label}}"
                                optionLabel="value"
                                [filter]="true"
                                filterBy="value">
                              </p-dropdown>
                            </div>
                          </div>
                          <!--  RENDER DROPDOWN ENDS -->
                          <!--  RENDER MULTISELECT STARTS -->
                          <div class="ui-grid-row" *ngSwitchCase="'multiselect'">
                            <p class="p-label ui-grid-col-4"
                               *ngIf="col.label">
                              {{ col.label}}<sup class="required-sup" *ngIf="col.required">*</sup>
                            </p>
                            <div class="ui-grid-col-8">
                              <p-multiSelect
                                id="{{ col.key }}"
                                appendTo="body"
                                [options]="col.filteredOptions || col.options || []"
                                styleClass="w-full p-inputtext-sm"
                                optionLabel="value"
                                [filter]="true"
                                filterBy="value">
                              </p-multiSelect>
                            </div>
                          </div>
                          <!--  RENDER MULTISELECT ENDS -->
                          <!--  RENDER CHIPS STARTS -->
                          <div class="ui-grid-row" *ngSwitchCase="'chips'">
                            <p class="p-label ui-grid-col-4"
                               *ngIf="col.label">
                              {{ col.label}}<sup class="required-sup" *ngIf="col.required">*</sup>
                            </p>
                            <div class="ui-grid-col-8">
                              <p-chips
                                placeholder="{{ col.placeholder }}"
                                class="p-fluid"
                                separator=","
                                [addOnTab]="true"
                                [addOnBlur]="true"
                              ></p-chips>
                            </div>
                          </div>
                          <!--  RENDER CHIPS ENDS -->
                        </ng-container>
                        <!--  SWITCH QUESTION TYPE ENDS -->
                      </div>
                    </p-panel>
                  </td>
                </tr>
              </ng-container>
            </ng-template>
          </p-table>
        </div>
        <!--  THE LIST TYPE DIV ENDS HERE  -->

      </div>
      <!--  RENDER LIST ENDS -->
    </ng-container>
  </div>
</section>


