.message-p {
  white-space: pre-wrap;
  margin: 0;
  font-weight: bold;
}
.required-sup {
  color: var(--primary-color);
}
.column-drag {
  width: 2.5rem;
}
.column-actions {
  width: 5rem;
}
.separation-padding {
  padding: 1px;
}
.separation-margin {
  margin-bottom: 1px;
}
.p-label {
  padding: 0.5rem 0;
}
