#btn_remove {
    background: transparent !important;
    color: rgb(207,42,42) !important;
    border: none !important;
}

#btn_add {
    background: transparent !important;
    color: #188650 !important;
    border: none !important;
}

#btn_setting{
    background: transparent !important;;
    color: black !important;
    border: none !important;
}

.service_modal {
    min-width: 700px !important;
    height: 500px !important;
}

body .ui-dialog .ui-dialog-content {
    height: 100% !important;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider {
    background-color: #0568ae !important;
}

body .ui-button {
    background-color: #0568ae;
    border: 1px solid #0568ae;
}

#url:hover {
    font-weight: bold;
}

.tag_modal {
    min-width: 600px !important;
    height: 300px !important;
}

.validaion_modal {
    min-width: 300px !important;
    height: 150px !important;
}

.validation_label {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    border: solid red 1px;
}

.validation_list {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    border: solid green 1px;
    margin: 0;
}

.d-flex-center {
  display: inline-flex;
  align-items: center;
}
.ui-confirmdialog-message {
    z-index: 1000000 !important;
    }
