.summary-wrapper {
  position: relative;
  width: 100%;
  min-height: 25vh;
  max-height: calc(100vh - 29rem);
  overflow-y: scroll;
  background-color: var(--surface-50);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  label {
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  p {
    margin: 0.75rem 0;
  }
  textarea {
    margin: 0.75rem 0;
    font-family: monospace;
  }
}

.status-message {
  display: flex;
  align-items: center;
  white-space: pre;
}

.status-passed {
  color: var(--bg-success);
}

.status-warning {
  color: var(--orange-500);
}

.status-failed {
  color: var(--bg-danger);
}

.config-diff-wrapper {
  position: relative;
  width: 100%;
  background-color: var(--surface-50);
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  padding: 1rem;
}

::ng-deep .fieldset-diff .p-fieldset .p-fieldset-content {
  padding: 0.75rem 0 0.5rem 0 !important;
}
