<section>
  <div
    class="intro-section pb-2"
    *ngIf="!isBcUser"
    [@greetingAnimation]="greetings"
  >
    <h1 class="font-bold">Hello, {{ userDetails?.firstName | titlecase }}!</h1>
    <h4>
      Welcome to Self-service Network Management Platform. Please pick a
      customer to get started!
    </h4>
  </div>

  <div class="intro-section pb-4" *ngIf="isBcUser">
    <h1 class="font-bold">Hello there!</h1>
    <h4>
      Welcome to Self-service Network Management Platform
      <span *ngIf="!loaders?.customerForBc">for {{ customer?.name }}.</span>
    </h4>
  </div>

  <p-card styleClass="p-card-shadow pl-2 pr-2 mb-4">
    <!-- CUSTOMER SEARCH BAR START HERE -->
    <section class="flex p-3" *ngIf="!isBcUser">
      <div class="flex-grow-1 justify-content-center">
        <ng-container *ngIf="loaders?.customers; else customers_dropdown">
          <p-skeleton height="3rem"></p-skeleton>
        </ng-container>

        <ng-template #customers_dropdown>
          <span class="p-fluid">
            <p-autoComplete
              [(ngModel)]="text"
              [suggestions]="results"
              (completeMethod)="search($event)"
              (onSelect)="onCustomerPicked($event)"
              [minLength]="1"
              [showEmptyMessage]="true"
              field="name"
              inputStyleClass="font-medium"
              placeholder="Search for Customer"
            >
            </p-autoComplete>
          </span>
        </ng-template>
      </div>
      <button
        pButton
        icon="pi pi-times"
        [disabled]="!text"
        (click)="onResetCustomer()"
        pRipple
        type="button"
        class="ml-2 p-button-primary"
      ></button>
    </section>
    <!-- CUSTOMER SEARCH BAR ENDS HERE -->

    <!-- CUSTOMER BC LOADER STARTS HERE -->
    <section *ngIf="isBcUser && loaders?.customerForBc">
      <p-progressBar mode="indeterminate"></p-progressBar>
    </section>
    <!-- CUSTOMER BC BAR ENDS HERE -->

    <!-- CUSTOMER SELECTED OPTIONS STARTS HERE -->
    <p-tabView [(activeIndex)]="activeIndex" *ngIf="customer?.id">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-sitemap mr-2"></i>
          <span>Network Monitoring</span>
        </ng-template>
        <div class="pt-2" *ngIf="activeIndex === 0">
          <app-report-panel [customer]="customer"></app-report-panel>
        </div>
      </p-tabPanel>
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-cog mr-2"></i>
          <span>Network Management</span>
        </ng-template>
        <div class="pt-2" *ngIf="activeIndex === 1">
          <app-css-panel [customer]="customer"></app-css-panel>
        </div>
      </p-tabPanel>
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-list mr-2"></i>
          <span>Technical Data Collection</span>
        </ng-template>
        <div class="pt-2" *ngIf="activeIndex === 2">
          <app-tdc-panel [customer]="customer"></app-tdc-panel>
        </div>
      </p-tabPanel>
    </p-tabView>
    <!-- CUSTOMER SELECTED OPTIONS ENDS HERE -->
  </p-card>
</section>
