<p-card styleClass="p-3 p-card-shadow step-router-outlet-card">
  <div class="step-header mt-0 mb-3 underline">{{ title }}</div>

  <!--  CONFIRM DIALOG STARTS HERE  -->
  <p-confirmDialog
    header="Confirmation"
    styleClass="p-confirm-custom"
    icon="pi pi-exclamation-triangle"
    rejectButtonStyleClass="p-button-rounded p-button-outlined mb-2"
    acceptButtonStyleClass="p-button-rounded mr-0 mb-2"
  ></p-confirmDialog>
  <!--  CONFIRM DIALOG ENDS HERE  -->

  <!--  PRE VALIDATION TABS STARTS HERE   -->
  <p-tabView>
    <p-tabPanel
      *ngFor="let validation of validations"
      [headerStyleClass]="
        validation.status !== 'completed' ? 'tab-header-danger' : ''
      "
      [header]="validation.command"
      [leftIcon]="
        validation.status === 'completed'
          ? 'pi pi-check-circle'
          : 'pi pi-times-circle'
      "
    >
      <!--  CONFIGURATION PANEL STARTS HERE   -->
      <section class="configuration-wrapper">
        <!--  CONFIGURATION FAB STARTS HERE   -->
        <button
          [cdkCopyToClipboard]="validation.output"
          pButton
          pRipple
          type="button"
          icon="pi pi-copy"
          pTooltip="Copy to Clipboard"
          class="copy-button p-button-rounded p-button-text p-button-plain"
        ></button>
        <!--  CONFIGURATION FAB ENDS HERE   -->

        <!--  CONFIGURATION DISPLAY STARTS HERE  -->
        <pre
          name="fieldName"
          ngDefaultControl
          [(ngModel)]="validation.output"
          >{{ validation.output }}</pre
        >
        <!--  CONFIGURATION DISPLAY ENDS HERE  -->
      </section>
      <!--  CONFIGURATION PANEL ENDS HERE   -->
    </p-tabPanel>
  </p-tabView>
  <!--  PRE VALIDATION TABS ENDS HERE   -->

  <!--  FOOTER ACTIONS STARTS HERE  -->
  <ng-template pTemplate="footer">
    <div class="pb-2 pt-1 d-flex">
      <button
        pButton
        icon="pi pi-chevron-left"
        label="Back"
        class="p-button-rounded p-button-outlined mr-2"
        [disabled]="isLoading"
        (click)="onBack()"
      ></button>
      <button
        *ngIf="!isFinalStep"
        pButton
        icon="pi pi-check"
        label="Continue"
        class="p-button-rounded"
        [disabled]="isLoading"
        (click)="onContinue()"
      ></button>
      <button
        *ngIf="isFinalStep"
        pButton
        icon="pi pi-home"
        label="Home"
        class="p-button-rounded"
        routerLink="/"
      ></button>

      <div class="val-warnings-container" *ngIf="failedValidations.length">
        <span class="pi pi-exclamation-triangle mr-1"></span>
        {{ failedValidations.length }} validation command(s) didn't go through!
      </div>

      <button
        pButton
        icon="pi pi-refresh"
        label="Rerun"
        class="right-float p-button-rounded p-button-secondary"
        (click)="onRerun()"
      ></button>
    </div>
  </ng-template>
  <!--  FOOTER ACTIONS ENDS HERE  -->
</p-card>
