<!-- START Confirmation Modal -->
<p-confirmDialog
  maskStyleClass="ui-widget-overlay ui-dialog-mask ui-dialog-visible ui-dialog-mask-scrollblocker">
</p-confirmDialog>
<!-- END Confirmation Modal -->
<div class="p-grid p-3" *ngIf="isLoading || !componentKey">
  <div class="p-col-12 loader-wrapper">
    <!-- START NO COMPONENT SELECTED DIV-->
    <div *ngIf="!componentKey">
      <i
        [style]="{width: '50px', height: '50px'}"
        class="pi pi-align-left"></i>
      <h6>no components selected!</h6>
      <p>please select an app component from the app components tree</p>
    </div>
    <!-- END NO COMPONENT SELECTED DIV-->
    <!-- START LOADER -->
    <div *ngIf="isLoading">
      <p-progressSpinner
        [style]="{width: '50px', height: '50px'}"
        strokeWidth="8"
        fill="#EEEEEE"
        animationDuration=".5s">
      </p-progressSpinner>
      <h6>please wait!</h6>
      <p>loading role based access control list for selected component</p>
    </div>
    <!-- END LOADER-->
  </div>
</div>

<div class="p-grid p-3" *ngIf="!isLoading && componentKey">
  <div class="p-col-12">
    <h5>Role Based Access Control<span *ngIf="componentName"> - <strong>{{componentName}}</strong></span></h5>
  </div>
  <hr>
  <div class="p-col-12 pt-1 pb-1">
    <form [formGroup]="aclFormGroup">
      <p-table [columns]="cols" [value]="accesses">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" class="text-center">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns" [ngClass]="col.field !== 'role' ? 'text-center' : ''">
              <span *ngIf="col.field === 'role'">{{rowData[col.field]}}</span>
              <p-radioButton *ngIf="col.field !== 'role'"
                             name="{{rowData['role']}}"
                             formControlName="{{rowData['role']}}"
                             value="{{col.field}}">
              </p-radioButton>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </form>
  </div>
  <div class="p-col-12 mt-3">
    <button
      *ngIf="!isAclSaving"
      pButton
      type="button"
      icon="pi pi-save"
      label="Save Changes"
      class="ui-button-success"
      [disabled]="!aclFormGroup.dirty"
      (click)="updateAcl()">
    </button>
    <!--SAVE SETTING Loader STARTS-->
    <div *ngIf="isAclSaving">
      <div style="width: 3rem; float:left">
        <p-progressSpinner
          [style]="{width: '36px', height: '36px'}"
          strokeWidth="4" fill="#EEEEEE"
          animationDuration=".5s">
        </p-progressSpinner>
      </div>
      <p class="pt-2">saving your settings ...</p>
    </div>
    <!--SAVE SETTING Loader ENDS-->
  </div>
</div>

