<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <div class="ui-grid-row mt-3">
        <div class="ui-grid-col">
            <strong>When Conditions</strong>
        </div>
    </div>
    <div class="ui-grid-row" *ngFor="let whenCondition of whenConditions; index as i">
        <div class="ui-grid-col">
            <div class="ui-grid-row">
                <p-dropdown [options]="i === 0 ? [] : operations" class="mr-1" optionLabel="type" placeholder="Choose operation"
                    [(ngModel)]="whenCondition.operation" [disabled]="i === 0"></p-dropdown>
            </div>
        </div>
        <div class="ui-grid-col">
            <div class="ui-grid-row">
                <p-dropdown [options]="fields" class="mr-1" optionLabel="key" placeholder="Choose source key"
                    [(ngModel)]="whenCondition.source_key"></p-dropdown>
            </div>
        </div>
        <div class="ui-grid-col">
            <div class="ui-grid-row">
                <p-dropdown [options]="conditions" class="mr-1" optionLabel="type" placeholder="Choose condition"
                    [(ngModel)]="whenCondition.condition"></p-dropdown>
            </div>
        </div>
        <div class="ui-grid-col">
            <div class="ui-grid-row">
                <input type="text" class="full-width" [id]="5" placeholder="Enter value"
                    *ngIf="whenCondition.condition && whenCondition.condition.hasValue"
                    [(ngModel)]="whenCondition.value" pInputText>
            </div>
        </div>
        <div class="ui-grid-col" *ngIf="i > 0">
            <span class="pi pi-trash cursor-pointer mt-2" pTooltip="Remove condition"
                (click)="removeWhenCondition(whenCondition)"></span>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col ml-2">
            <span class="pi pi-plus cursor-pointer" pTooltip="Add condition" (click)="addWhenCondition()"></span>
        </div>
    </div>
    <div class="ui-grid-row mt-3">
        <div class="ui-grid-col">
            <strong>Then Conditions</strong>
        </div>
    </div>
    <div class="ui-grid-row" *ngFor="let thenCondition of thenConditions; index as i">
        <div class="ui-grid-col">
            <div class="ui-grid-row">
                <p-dropdown [options]="fields" class="mr-1" optionLabel="key" placeholder="Choose target key"
                    [(ngModel)]="thenCondition.target_key"></p-dropdown>
            </div>
        </div>
        <div class="ui-grid-col">
            <div class="ui-grid-row">
                <p-dropdown [options]="actions" class="mr-1" optionLabel="type" placeholder="Choose action"
                    [(ngModel)]="thenCondition.action"></p-dropdown>
            </div>
        </div>
        <div class="ui-grid-col">
            <div class="ui-grid-row">
                <input type="text" class="full-width" [id]="5" placeholder="Enter target value"
                    *ngIf="thenCondition.action && thenCondition.action.hasValue"
                    [(ngModel)]="thenCondition.target_value" pInputText>
            </div>
        </div>
        <div class="ui-grid-col" *ngIf="i > 0">
            <span class="pi pi-trash cursor-pointer mt-2" pTooltip="Remove condition"
                (click)="removeThenCondition(thenCondition)"></span>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col ml-2">
            <span class="pi pi-plus cursor-pointer" pTooltip="Add condition" (click)="addThenCondition()"></span>
        </div>
    </div>
    <div class="ui-grid-row mt-3">
        <div class="ui-grid-col">
            <button pButton type="button" icon="pi pi-save" label="Save" (click)="addRule()" [disabled]="!isFormValid()"
                class="ui-button-primary mr-2"></button>
        </div>
        <div class="ui-grid-col">
            <button pButton type="button" label="Discard" (click)="close()" class="ui-button-secondary mr-2"></button>
        </div>
    </div>
</div>