<div class="application_loading" *ngIf="showSpinner || showSpinnerAfterChange">
  <p-progressSpinner animationDuration=".8s"></p-progressSpinner>
</div>

<div class="ui-g">
  <div class="ui-g-3">
    <div id="left_side_panel">
      <div style="border-bottom: solid 1px #c8c8c8;margin-top: 12px;">
        <p style="text-align: center;margin-bottom: 5px !important; min-height: 24px !important">{{selectedActionName}}
        </p>
      </div>
      <div *ngIf="files">
        <p-tree [value]="files" selectionMode="single" [loading]="loading" [filter]="true" [(selection)]="selectedFiles"
          (onNodeSelect)="nodeSelect($event)" scrollHeight="800px"></p-tree>
      </div>
      <p-footer>
        <button pButton style="margin: 0 auto; display: block;" icon="fa fa-plus" (click)="openModal()" type="button"
          label="Add Action"></button>
      </p-footer>
    </div>
  </div>
  <div class="ui-g-9">
    <div [ngClass]="{disabled: isDisabled}" id="right_side_panel">
      <div class="buttonTabDiv" *ngIf="selectedFormTemplate.name">
        <button pButton type="button" iconPos="left" icon="fa fa-save" class="ui-button-info" (click)="save()"
          label="Save"></button>
        <button style="margin-left: 3px" pButton type="button" iconPos="left" icon="fa fa-copy" class="ui-button-info"
          (click)="showCopyTemplateDialog()" label="Copy"></button>
        <button style="margin-left: 3px" *ngIf="selectedTab == 0" pButton type="button" iconPos="left"
          icon="fa fa-trash" class="ui-button-info" (click)="delete()" label="Delete"></button>
        <button style="margin-left: 3px" *ngIf="selectedTab == 1" pButton type="button" iconPos="left"
          icon="fa fa-trash" class="ui-button-info" (click)="clear()" label="Clear"></button>
        <!-- <button style="margin-left: 3px" *ngIf="selectedTab == 1" pButton type="button" iconPos="left" icon="fa fa-eye" class="ui-button-info" (click)="preview()" label="Preview"></button> -->
      </div>
      <!--(onChange)="onTabChange($event)"-->
      <p-tabView [activeIndex]="index" (onChange)="index = $event.index">
        <p-tabPanel header="PROPERTIES">
          <br>
          <app-form-properties (formGroupEmitter)="checkValidityOfFormProperties($event)"
            (eventEmitter)="refreshList($event)" (workflowAttributesEvent)="checkWorkflowAttributes($event)"
            [template]="template" [dataForPermissionManager]="dataForPermissionManager"></app-form-properties>
        </p-tabPanel>
        <p-tabPanel *ngIf="workflowAttributes['form'].value" header="FORM">
          <br>
          <app-form-builder [selectedFormTemplate]="selectedFormTemplate" [template]="template"></app-form-builder>
        </p-tabPanel>
        <!--<p-tabPanel header="NAVIGATION">
            <br>
          <app-section-builder></app-section-builder>
        </p-tabPanel>-->
        <p-tabPanel *ngIf="workflowAttributes['validation'].value" header="VALIDATION">
          <br>
          <app-validation-builder [template]="template" [selectedFormTemplate]="selectedFormTemplate">
          </app-validation-builder>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>

<p-confirmDialog maskStyleClass="ui-widget-overlay ui-dialog-mask ui-dialog-visible ui-dialog-mask-scrollblocker">
</p-confirmDialog>


<p-dialog [visible]="copyTemplateDialogVisible" (onHide)="closeDialog()">
  <p-header>Type name of copied template</p-header>
  <label for="float-input" style="color: #333333 !important;font-size: 14px !important;
                          padding-left: 0.429em !important;width:172px !important;" class="p-col-fixed">Action name
  </label>
  <div class="p-col">
    <span class="ui-float-label">
      <input pattern="^\s*\S+\s*$" [(ngModel)]="copiedTemplateName" id="float-input" type="text" pInputText required="true"
        maxlength="120" placeholder="Action name">
    </span>
  </div>
  <p-footer> <button style="margin-left: 3px" pButton type="button" iconPos="left" icon="fa fa-copy"
      class="ui-button-info" (click)="copyOfTemplate()" label="Copy"></button></p-footer>
</p-dialog>
