/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import "./att.css";
html, body { height: 100%; }
body { margin: 0; font-family: 'ATT Aleck Sans'; }

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

@font-face {
  font-family: 'ATT';
  font-style: normal;
  /* font-weight: 400; */
  src:
       url('src/assets/fonts/ATTAleckSans/ATTAleckSans_W_Lt.woff2') format('woff2'), /* Modern Browsers */
       url('src/assets/fonts/ATTAleckSans/ATTAleckSans_Lt.ttf') format('truetype'), /* Super Modern Browsers */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'ATT', 'sans', sans-serif;
}
main > .container {
    padding: 60px 15px 0;
  }
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
.headertext {
  padding-top: 15px;
}

.toright {
  margin-right:3px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
.col-md-12 {
  flex-shrink: 1;
  transition: all 400ms ease;
}
.col-md-6 {
  flex-grow: 1;
  transition: all 400ms ease;
}
.col-6 {
  flex-shrink: 1;
  transition: all 400ms ease;
}
.col-md-0{
  width: 0;
  flex-grow: 1;
  transition: all 400ms ease;
}
.short {
  min-width: 60px;
}
.att-icon {
  background: url('./favicon.ico');
  display: block;
}
body {
  overflow: hidden;
}
