{{- $secrets := list 
    "utilities-django-secret" 
    "phs-username" 
    "phs-password" 
    "bootstrap-ssh-rsa" 
    "bootstrap-ssh-dsa" 
    "geolocation-api" 
    "utilities-edf-username" 
    "utilities-edf-password" 
    "utilities-edf-host" 
    "utilities-edf-service-name" 
    "gdui-basic-auth-username" 
    "gdui-basic-auth-password" 
    "one-mcap-username" 
    "one-mcap-userpwd"
    "bootstrap-basic-auth-username"
    "bootstrap-basic-auth-password"
    "bootstrap-url" 
    "one-app-storage-name" 
    "one-app-storage-clientid" 
    "one-app-storage-clientsecret" 
    "one-app-storage-tenantid" 
    "one-app-storage-servicebaseuri" 
    "one-app-storage-containername"
    "edf-m11102-username"
    "edf-m11102-password"
    "edf-m33397-username"
    "edf-m33397-password"
    "edf-m28805-username"
    "edf-m28805-password"
-}}
{{- range $secret := $secrets }}
---
apiVersion: spv.no/v1alpha1
kind: AzureKeyVaultSecret
metadata:
  name: {{ $secret }} # as in deployment yaml
  namespace: {{ $.Values.namespace }}
spec:
  vault:
    name: {{ $.Values.keyVaultName }} # name of key vault
    object:
      name: {{ $secret }} # name of the akv object as in KV
      type: secret # akv object type
{{- end }}