apiVersion: v1
kind: Service
metadata:
  name: {{ include "css-ra-utilities.fullname" . }}
  labels:
    {{- include "css-ra-utilities.labels" . | nindent 4 }}
  namespace: {{ .Values.namespace }} 
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "css-ra-utilities.selectorLabels" . | nindent 4 }}
